<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Restaurant list" />
		<link rel="icon" href="./logos.png" />
		<meta name="theme-color" content="#2196f3" />
		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap" rel="stylesheet" />
		<link rel="manifest" href="./app.webmanifest" />
		<script src="https://kit.fontawesome.com/28990b5acb.js" crossorigin="anonymous"></script>

		<title>Home</title>
	</head>
	<body>
		<a href="#mainContent" class="skip-link" tabindex="0">Goes to main content</a>
		<header class="header" id="home">
			<div class="logo">
				<picture>
					<source type="image/webp" srcset="images/icon/logo-header.webp">
					<img src="images/icon/logo-header.png" alt="logo header">
				</picture>
			</div>
			<button id="menu" class="header-menu"></button>
			<nav id="drawer" class="nav">
				<ul class="nav-list">
					<li class="nav-item"><a href="#/home-page">Home</a></li>
					<li class="nav-item"><a href="#/favorite">Favorite</a></li>
					<li class="nav-item"><a href="https://instagram.com/indratrst">About Us</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<div class="hero" aria-label="picture hero section">
			<picture>
				<source media="(max-width: 600px)" srcset="images/heros/hero-image_2-small.jpg" type="image/jpeg">
				<img src="images/heros/hero-image_2-large.jpg" alt="hero">
				<source srcset="images/heros/hero-image_2.webp" type="image/webp">
				</picture>
				<div class="hero-inner">
					<h1 class="hero-title">Find the happines its start from your food</h1>
					<p class="hero-tagline">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea libero magnam nostrum nemo, deserunt</p>
				</div>
			</div>
			<section class="main-content" id="main-content" tabindex="0">
				<div class="main-content-container">
					<!-- <div class="breaker">
						<h2 class="text">Picturesque Shutter <br />Resto List</h2>
					</div> -->
					<!-- <div class="card"> -->
					<!-- <article class="card-items"> -->
					<!-- <img class="card-items-header" src="../public/images/heros/hero-image_2.jpg" alt="Gambar dua orang wanita sedang memegang laptop" />
							<div class="card-items-content">
								<p class="card-items-date">About 10 Hours Ago By <a href="#" class="card-items-date-author">Dicoding Intern</a></p>
								<h1 class="card-items-title">
									<a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a>
								</h1>
								<p class="card-items-description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
									excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
								</p>
								<button class="card-items-button">Read More</button>
							</div> -->
					<!-- </article> -->
					<!-- </div>s -->
				</div>
			</section>
		</main>
		<!-- Footer -->
		<!-- <footer>
			<section class="footer">
				<div class="wrapper">
						<div class="person-info">
							<h2>Indra Tristia</h2>
							<h3>Hubungi Kami</h3>
							<p>tristia71@gmail.com</p>
							<p>Jalan Encep Kartawiria</p>
							<p>Cimahi</p>
						</div>
						<div class="group-article">
							<h2>Related Content</h2>
							<ul>
								<li>
									<span>Food</span>
								</li>
								<li>
									<span>Restaurant</span>
								</li>
								<li>
									<span>City</span>
								</li>
							</ul>
						</div>
						<div class="link-section">
							<h2>Tautan</h2>
							<ul>
								<li>
									<a href="./index.html">Home</a>
								</li>
								<li>
									<a href="#">About</a>
								</li>
								<li>
									<a href="https://instagram.com/indratrst">Contact us</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="logo-footer">
						<img src="images/heros/4-removebg-preview-resize.png" alt="logo-footer" />
						<p>Created By <span>Indra Tristia</span> 2022</p>
					</div>
				</div>
			</section>
		</footer> -->
<custom-footer></custom-footer>
	</body>
</html>
