* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	--primary: #213e86;
	--third: #0f172a;
	--detail: rgb(248, 248, 248);
	--dark: #000000;
	--secondary: #64748b;
	--light: #ffffff;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: "Inter", sans-serif;
	overflow-x: hidden;
}

.header {
	width: 100%;
	height: 90px;
	transition: min-height 0.3s;
	display: flex;
	align-items: center;
}

.header-menu {
	font-size: 60px;
	margin: 10px auto;
	display: block;
	width: 44px;
	height: 44px;
	z-index: 999;
	position: relative;
	border: none;
	background-color: transparent;
}
.header-menu::after {
	content: "☰";
	font-size: 50px;
}
.active::after {
	content: "\292C";
	font-size: 65px;
}
.header .logo img {
	width: 270px;
	height: 70px;
	margin-left: 60px;
}

.nav {
	width: 100%;
}

.nav-list {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.nav-item {
	box-sizing: border-box;
	display: flex;
	width: 35%;
	text-transform: uppercase;
}

.nav a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--dark);
	font-weight: 500;
	text-decoration: none;
	width: 100%;
	height: 44px;
	text-align: center;
}

.nav a:hover {
	color: var(--primary);
}

.hero {
	display: flex;
	align-items: center;
	min-height: 380px;
	width: 100%;
	text-align: center;
	background-image: url("../public/images/heros/hero-image_2.jpg");
	background-position: center;
	position: relative;
}
.hero::before {
	content: "";
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
	background-position: right;
	background-repeat: no-repeat;
	opacity: 0.9;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.hero-inner {
	margin: 0 auto;
	max-width: 800px;
	z-index: 1;
}

.hero-title {
	color: #fff;
	font-weight: 500;
	font-size: 36px;
	opacity: 1;
}

.hero-tagline {
	color: #fff;
	margin-top: 16px;
	font-size: 18px;
	font-weight: 300;
}

main {
	width: 100%;
}

.main-content {
	width: 100%;
	padding: 32px;
}

.main-content-container {
	width: 100%;
	margin: 10px 0px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-items: center;
}

.breaker {
	height: 100px;
	margin-top: 1vmin;
	position: relative;
	margin-bottom: 20px;
}

.breaker .text {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 100%;
	display: block;
	margin: auto;
	padding: 10px 25px;
	font-size: 1.8em;
	font-weight: 600;
	color: var(--third);
	text-shadow: 4px 4px 7px rgb(197, 196, 196);
	/* white-space: wrap; */
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	padding: 8px;
	background-color: var(--primary);
	color: white;
	z-index: 100;
}
.skip-link:focus {
	top: 0;
}

.card {
	width: 100%;
	text-align: left;
	display: grid;
}

.card-items {
	margin: 16px 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 300px;
	border-radius: 10px;
	overflow: hidden;
}

.card-items-content {
	padding: 16px 32px 32px 32px;
}

.card-items-header {
	width: 100%;
	aspect-ratio: 3/2;
	object-fit: cover;
}
.card-text-city {
	font-size: 15px;
	text-transform: capitalize;
	color: var(--third);
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	font-weight: 700;
}

.card-text-rating {
	color: var(--primary);
	text-decoration: none;
	font-size: 14px;
}

.card-text-title {
	font-weight: 900;
	font-size: 18px;
	margin-top: 16px;
	color: var(--primary);
}

.card-text-description {
	margin-top: 16px;
	font-size: 14px;
	line-height: 1.5em;
	height: 200px;
	overflow: hidden;
	text-overflow: clip;
	position: relative;
	text-align: justify;
}
.card-text-description::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4%;
	width: 100vw;
	background: linear-gradient(to bottom, transparent, white);
	pointer-events: none;
}

.card-text-description::-webkit-scrollbar {
	width: 7px;
	border-radius: 50px;
}

.card-text-description::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.card-text-description::-webkit-scrollbar-thumb {
	background: var(--secondary);
	border-radius: 50px;
}

.card-text-description::-webkit-scrollbar-thumb:hover {
	background: var(--primary);
}

.card-items-button {
	margin-top: 15px;
	font-size: 15px;
	width: 140px;
	letter-spacing: 1px;
	height: 44px;
	border: none;
	background-color: var(--primary);
	color: var(--light);
	border-radius: 25px;
}

.card-items .custom-item {
	overflow-y: visible;
	height: 100%;
}
.card-items .custom-item::after {
	background: transparent;
}

footer {
	padding-top: 20px;
}
.footer-container {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-start;
	width: 100%;
	padding: 40px 150px;
	gap: 150px;
	background-color: #0f172a;
}

.group-article h2::before,
.link-section h2::before {
	content: " ";
	white-space: pre;
	border-left: 5px solid;
	border-color: var(--primary);
}

.person-info p {
	line-height: 1.6em;
	padding-left: 10px;
	text-align: justify;
	font-size: 14px;
}

.person-info h2 {
	font-weight: bold;
	white-space: nowrap;
	font-size: 1.7em;
	margin-bottom: 10px;
	color: var(--primary);
	padding-left: 10px;
}
.person-info h3:hover {
	color: var(--primary);
	transition: ease-in-out 300ms;
}
.group-article,
.link-section,
.person-info {
	display: grid;
	flex-wrap: wrap;
	color: var(--secondary);
}

.group-article h2,
.link-section h2,
.person-info h3 {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 10px;
	color: var(--light);
	padding-left: 10px;
	white-space: nowrap;
}
.group-article ul,
.group-article li,
.group-article span {
	text-decoration: none;
	list-style-type: none;
	color: var(--secondary);
	padding: 13px 7px;

	font-size: 15px;
}

.link-section ul,
.link-section li,
.link-section a {
	text-decoration: none;
	list-style-type: none;
	color: var(--secondary);
	padding: 13px 7px;
	font-size: 15px;
	white-space: nowrap;
}

.link-section ul li a:hover {
	color: var(--light);
	transition: ease-in-out 300ms;
}

.wrapper {
	width: 100%;
	background-color: var(--third);
}
.logo-footer {
	width: 80%;
	display: flex;
	border-top: 1px solid;
	border-color: var(--secondary);
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	margin: auto;
	gap: 10px;
}
.logo-footer img {
	width: 300px;
}
.logo-footer p {
	width: 100%;
	color: var(--light);
	text-align: center;
}
.logo-footer span {
	color: var(--primary);
	text-align: center;
}

/* example */
.container-upper {
}
.container-detail {
	/* width: 100%; */
	/* height: 500px; */
	/* background: rgb(128, 68, 68); */
	display: grid;
	/* grid-template-columns: repeat(2, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(0.5fr, 1fr));
	text-align: left;
	row-gap: 13px;
}

.wrapping-detail {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

	/* grid-column: 1 / span 2; */
}
.image-detail img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.text-detail {
	/* background: rgb(117, 55, 55); */
	padding: 40px;
	line-height: 27px;
	text-align: left;
	background: var(--detail);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	font-size: 14px;
	color: #1749c7;
}
.text-detail p {
	color: #5677a7;
}
.menus {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
	margin-top: 10px;
	gap: 10px;
	justify-content: space-evenly;
}
.menu-drinks,
.menu-foods {
	padding: 40px;
	width: 100%;
	text-align: left;
	background: var(--detail);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	color: #1749c7;
	font-size: 14px;
}

.menu-drinks ul li,
.menu-foods ul li {
	/* width: 100%; */
	text-align: left;
	line-height: 31px;
	margin: 2px 28px;
	color: #5677a7;
	font-size: 15px;
}
.user-review {
	margin: 10px 0px;
	color: #1749c7;
	text-align: center;
}
.reviews {
	width: 100%;
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
	gap: 10px;
	margin-top: 30px;
	/* padding: 0px 50px; */
	justify-content: space-around;
}
/* .container-card-review {
	display: grid;
	gap: 30px;
} */

.card-review {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	height: auto;
	padding: 20px;
	line-height: 24px;
	text-align: left;
	color: #5677a7;
	background: var(--detail);
}

.card-review:hover {
	box-shadow: 0 8px 16px 0 rgba(5, 16, 116, 0.2);
	color: #1749c7;
}
.wrap-review {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.like {
	font-size: 18px;
	position: fixed;
	bottom: 16px;
	right: 16px;
	background-color: #c60404;
	color: white;
	border: 0;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}
